
logs/
*.log
*.gz
*.out
.cache


.idea/
.vscode/
.settings/
.history/


Dockerfile*
docker-compose*
.dockerignore


node_modules/
.git/

tests/
coverage/
.env
.prettierrc*
.editorconfig
.eslintrc.js


.gitignore
.gitattributes


node_modules/
dist
build/


jest*


*.md
npm-debug.log*
*.swp
*.swo
*.swn
*.bak
